<nav>
  <h3><a href="/neaweb/">&bull; Northeast Association</a></h3>
  <h4><a href="/neaweb/northeast/who-we-are">&bull; Who We Are</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/who-we-are/associate-conference-minister/">Associate Conference Minister</a></li>
    <li><a href="/neaweb/northeast/who-we-are/contact-us/">Contact Us</a></li>
  </ul>
  <h4><a href="/neaweb/northeast/what-we-do/">&bull; What We Do</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/what-we-do/executive-committee/">Executive Committee</a></li>
    <li><a href="/neaweb/northeast/what-we-do/2017-vision-of-ministry/">Vision of Ministry</a></li>
    <li><a href="/neaweb/northeast/what-we-do/church-and-ministry/">Church and Ministry Division</a></li>
    <li><a href="/neaweb/northeast/what-we-do/wider-church/">Wider Church Division</a></li>
    <li><a href="/neaweb/northeast/what-we-do/local-church/">Local Church Division</a></li>
  </ul>
  <h4>News</h4>
  <ul>
    <li><a href="/neaweb/northeast/news/newsletters/">Back Issues of NEA Newsletters</a></li>
  </ul>
  <h4><a href="/neaweb/northeast/resources/">&bull; Resources</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/resources/#2017-camp-scholarships">Camp Scholarships</a></li>
    <li><a href="/neaweb/northeast/resources/#pulpit-supply">Pulpit Supply List</a></li>
    <li><a href="/neaweb/northeast/resources/#united-church-of-christ">United Church of Christ</a></li>
    <li><a href="/neaweb/northeast/resources/#2017-draft-manual-on-ministry">Draft <em>Manual on Ministry</em></a></li>
    <li><a href="/neaweb/northeast/resources/#member-in-discernment-manual">Member in Discernment Manual</a></li>
    <li><a href="/neaweb/northeast/resources/#policy-on-transfer-of-ministerial-standing">Transfering Ministerial Standing</a></li>
    <li><a href="/neaweb/northeast/resources/#bylaws-of-the-northeast-association">Northeast Association Bylaws</a></li>
  </ul>
</nav>
