<nav>
  <h3><a href="/neaweb/">&bull; Northeast Association</a></h3>
  <h4><a href="/neaweb/northeast/who-we-are">&bull; Who We Are</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/who-we-are/associate-conference-minister/">Associate Conference Minister</a></li>
    <li><a href="/neaweb/northeast/who-we-are/contact-us/">Contact Us</a></li>
  </ul>
  <h4><a href="/neaweb/northeast/what-we-do/">&bull; What We Do</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/what-we-do/executive-committee/">Executive Committee</a></li>
    <li><a href="/neaweb/northeast/what-we-do/2017-vision-of-ministry/">Vision of Ministry</a></li>
    <li><a href="/neaweb/northeast/what-we-do/church-and-ministry/">Church and Ministry Division</a></li>
    <li><a href="/neaweb/northeast/what-we-do/wider-church/">Wider Church Division</a></li>
    <li><a href="/neaweb/northeast/what-we-do/local-church/">Local Church Division</a></li>
  </ul>
  <h4><a href="/neaweb/northeast/news/">&bull; News</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/news/newsletters/">Back Issues of NEA Newsletters</a></li>
  </ul>
</nav>
