<nav>
  <h3><a href="/neaweb/">Northeast Association</a></h3>
  <h4><a href="/neaweb/northeast/who-we-are">Who We Are</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/who-we-are/associate-conference-minister/">Associate Conference Minister</a></li>
    <li><a href="/neaweb/northeast/who-we-are/contact-us/">Contact Us</a></li>
  </ul>
  <h4><a href="/neaweb/northeast/what-we-do/">What We Do</a></h4>
  <ul>
    <li><a href="/neaweb/northeast/what-we-do/executive-committee/">Executive Committee</a></li>
    <li><a href="/neaweb/northeast/what-we-do/2017-vision-of-ministry/">Vision of Ministry</a></li>
    <li><a href="/neaweb/northeast/what-we-do/church-and-ministry/">Church and Ministry Division</a></li>
    <li><a href="/neaweb/northeast/what-we-do/wider-church/">Church and Ministry</a></li>
    <li><a href="/neaweb/northeast/what-we-do/local-church/">Local Church Division</a></li>
  </ul>
</nav>
