---
---

@import "{{ site.theme }}";

/* Override to move left sidebar to the right */
/* Sidebar includes <header> and <footer> sections */
header {
  width:270px;
  float:right;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header {
    padding-left:520px;
}

footer {
  width:270px;
  float:right;
  position:fixed;
  bottom:50px;
  padding-left:520px;
  -webkit-font-smoothing:subpixel-antialiased;
}

/* Main content goes in <section> */
section {
  width:500px;
  float:left;
  padding-bottom:50px;
}

